body{
  /* background-color:rgb(241, 243, 246); */
 background-color: rgb(219, 219, 247);
}
.flex-container{
  display: flex;
  direction: row;
  margin: 40px;
  align-content: center;
  height: 820px;
  justify-content: center;
}
.left-content{
flex: 0.6;
background-image:url("bluebackground.jpg");
padding: 20px;
border-radius: 15px;
}
.right-content{
  background-color: white;
  justify-content: center;
  padding: 30px;
  border-radius: 15px;
}
.same-level{
  display: flex;
  direction: row;
  justify-content: center;
  line-height: 0%;
  /* padding-left: 5px; */
  margin: 2.5%;
 font-size: small;
  font-style: arial;
}
.same-level >h1{
  flex-grow: 0.39;
  color: darkslategray;
}
.same-level > p > a{
  padding-top: 6px;
  font-size: 15px;
  line-height: 15px;
  text-decoration: none;
  color: darkslategray;
}
.same-level>p>a:hover{
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}
.right-content >form{
text-indent: 4px;
font-size: 20px;
text-transform: capitalize;
font-family: Arial;
text-align: justify;
padding-left: 25px;
}
.working-name > input {
width: 500px;
height: 40px;
border: 2px solid rgb(123, 123, 253);
border-radius: 10px;
outline: 0;
font-size: 20px;
color:rgba(1, 1, 30, 0.584);
background-color: lightgray;
font: larger;
}

.working-name > select{
  width: 505px;
  height: 50px;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid  rgb(123, 123, 253);
  background-color: lightgray;
}
.working-name>option{
  text-align: justify;
}
.buttonup > button{
  width: 150px;
  height: 40px;
  border-radius: 6px;
  border: 2px solid blue;
  color: white;
  background-color: blue;
  font-size: large;
  margin-top: 6px;
  cursor: pointer;
  border: 0;
}
.buttonup > button:hover {
  background-color: rgb(41, 41, 229);
}

.content-width{
  justify-content: flex-start;
}
.left-container{
  display: flex;
  align-items: flex-start;
  margin-left: 20px;
  margin-top: 70px;
}
.info {
  color: white;
  margin-left: 30px;
  flex: 1; /* Allow the info div to take up remaining space */
}
.left-container >img{
  background-color: rgb(220, 251, 251);
  background-repeat: no-repeat;
  border-radius: 6px;
  width: 100px;
  margin-top: 15px;

}

.container{
    display: flex;
    margin: 40px;
    height: 820px;
    background-image: url("bluebackground.jpg");
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-radius: 30px;
  }
  .left-form-container{
    flex: 1;
    background-image: url("sign-in-account.png");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: contain;
    padding: 40px;

    border-radius: 30px;
  }
  .right-form-container{
    display: flex;
    flex: 1;
    background-color: white;
    width: 600px;
    padding: 40px;
    border-radius: 30px;
  }
  .right-form-container >h1{
    padding: 10px;
  }
  .arrange-head{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    margin-top: 60px;
  }
.form-input{
margin: 40px;
}

.arrange-head > h1{
  margin-left: 80px;
  color: darkslategray;
}
.arrange-head >p{
  margin-left: 80px;
}
.arrange-head > form{
text-indent: 4px;
font-size: 20px;
text-transform: capitalize;
font-family: Arial;
text-align: justify;
padding-left: 80px;
margin-top: 60px;
}
.email-pass > input{
margin-top: 4px;
padding-top: 2px;
width: 480px;
height: 40px;
border: 2px solid rgb(123, 123, 253);
border-radius: 10px;
outline: 0;
font-size: 20px;
color:rgba(1, 1, 30, 0.584);
background-color: lightgray;
font: larger;
}

.signup-work > a{
text-decoration: none;
color: darkslategray;
margin-top: 10px;
}

.signup-work > a:hover{
color: blue;
background-color: transparent;
text-decoration: underline;
}
.sign-in-button > button{
width: 480px;
height: 50px;
background-color: blue;
color: white;
font-size: larger;
cursor: pointer;
margin-top: 20px;
border: 0%;
border-radius: 6px;
border: 2px  solid blue;
} 
.sign-in-button > button:hover {
  background-color: rgb(41, 41, 229);
}